@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
   font-display: swap;
  }
  html {
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    line-height: 1.1;
    letter-spacing: -1px;
    box-sizing: border-box;
    background: #000;
    color: #fff;
  }
  button {
    color: #fff;
  }
  .container {
    max-width: 1240px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .menu {
    padding: 10px 0;
    background: rgba(0, 0, 0, .8);
  }
  .menu .container {
    display: flex;
    align-items: center;
  }
  .menu .logo img {
    width: 70px;
  }
  .menu .menu-list {
    display: flex;
    margin-left: 30px;
  }
  .menu .menu-list li {
    padding: 0 15px;
  }
  .menu .menu-list a {
    color: #fff;
  }
  .post-area {
    padding-top: 60px;
    text-align: center;
  }
  .post-area .post-area-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .post-area .post-area-item {
    position: relative;
    width: calc(33% - 6px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
  }
  .post-area .post-area-item:nth-of-type(3n) {
    margin-right: 0;
  }
  .post-area .post-area-item .post-area-item__img {
    height: 180px;
    overflow: hidden;
    cursor: pointer;
  }
  .post-area .post-area-item .post-area-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
  }
  .post-area .post-area-item .post-area-item__img img:hover {
    transform: scale(1.15);
  }
  .post-area .post-area-item .post-area-item__text {
    display: block;
    text-align: left;
    padding: 15px;
  }
  .post-area .post-area-item .post-area-item__text h4 {
    font-size: 18px;
    font-weight: bold;
  }
  .post-area .post-area-item .post-area-item__text p {
    margin-top: 10px;
  }
  .post-area .post-area-item .btn_recommend {
    position: absolute;
    top: 15px;
    right: 15px;
    /* color: #25F0D7; */
    color: red;
  }
  /* 모달 */
  .list-modal {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, .6);
  }
  .list-modal-item {
    max-width: 500px;
    width: 100%;
    height: calc(70vh - 20px);
    max-height: 350px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
  }
  .list-modal-item .list-modal-item__img {
    height: 200px;
  }
  .list-modal-item img {
    width: 100%;
    height: 100%;
  }
  .list-modal-item h4 {
    color: #333;
  }
  .list-modal-item p {
    color: #333;
  }
  .list-modal-item button {
    color: #333;
  }